* {
    color: #ffffff;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    list-style-type: none
}

body {
    background-color: #393a3a;
    text-align: center;
    margin: 0;
}

/*-- Main menu styles --*/
.main-title {
    background-color: #010101;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

.menu-title {
    background-color: #aa5c28;
    width: 90%;
    margin: 0 auto;
    padding: 0.75em 0;
}

.menu-ul {
    padding: 0;
}

.menu-recipe-list {
    background-color: #1d1e21;
    width: 40%;
    margin: 12px auto;
    padding: 12px;
}

.menu-recipe-list a {
    text-decoration: none;
}

/*-- Recipe sheet styles --*/
.recipe-title {
    font-size: 2.125em;
}

.y-color{
    color: #f1ba5a;
}

.hl-font {
    font-weight: bold;
    font-size: 1.125em;
}

.sm-font {
    font-size: 0.75em;
    font-style: italic;
}

